.img-circle {
    border-radius: 50%;
}

.friend-item{
    transition: all 0.5s ease out;
}

.delete-friend {
    transform: translateY(12rem) rotateZ(20deg);
    opacity: 0;
}
body {
    background-color: #16DED9;
    font-family: sans-serif;
  }